@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-nunito: 'Nunito', sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.custom-accordion {
  --accordion-shadow-color: rgba(3, 10, 17, 0.3); /* azul semitransparente */
  box-shadow: var(--accordion-shadow-color);
}

