@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-nunito: 'Nunito', sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.custom-accordion {
  --accordion-shadow-color: rgba(3, 10, 17, 0.3);
  /* azul semitransparente */
  box-shadow: var(--accordion-shadow-color);
}

@keyframes pulseSmooth {

  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.6;
    transform: scale(1.05);
  }
}

.animate-pulse-smooth {
  animation: pulseSmooth 2s ease-in-out infinite;
}

@keyframes fadeDot {

  0%,
  80%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

.loading-dot {
  font-size: 1.5rem;
  line-height: 1;
  animation: fadeDot 1.4s infinite;
}

.loading-dot.delay-0 {
  animation-delay: 0s;
}

.loading-dot.delay-1 {
  animation-delay: 0.2s;
}

.loading-dot.delay-2 {
  animation-delay: 0.4s;
}